@model mvc.Models.Magazyn.PaczkaViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Odśwież paczkę";
}

<h2>Odśwież paczkę</h2>
<a asp-action="Index">Wszystkie paczki</a>

<div class="send-package-form">
    <form asp-controller="Magazyn" asp-action="OdswiezPaczke" asp-route-id=@Model.Paczka.Id method="POST">
        <div class="client-data">
            <label>Nadawca</label>
            <label>Imię <input type="text" name="paczka.Nadawca.Imie" required value=@Model.Paczka.Nadawca!.Imie /></label>
            <label>Nazwisko <input type="text" name="paczka.Nadawca.Nazwisko" required value=@Model.Paczka.Nadawca!.Nazwisko /></label>
            <label>Nr telefonu <input type="text" name="paczka.Nadawca.NrTelefonu" required value=@Model.Paczka.Nadawca!.NrTelefonu /></label>
            <label>Adres zamieszkania <input type="text" name="paczka.Nadawca.AdresZamieszkania" required value=@Model.Paczka.Nadawca!.AdresZamieszkania /></label>
        </div>

        <div class="client-data">
            <label>Odbiorca</label>
            <label>Imię <input type="text" name="paczka.Odbiorca.Imie" required value=@Model.Paczka.Odbiorca!.Imie /></label>
            <label>Nazwisko <input type="text" name="paczka.Odbiorca.Nazwisko" required value=@Model.Paczka.Odbiorca!.Nazwisko /></label>
            <label>Nr telefonu <input type="text" name="paczka.Odbiorca.NrTelefonu" required value=@Model.Paczka.Odbiorca!.NrTelefonu /></label>
            <label>Adres zamieszkania <input type="text" name="paczka.Odbiorca.AdresZamieszkania" required value=@Model.Paczka.Odbiorca!.AdresZamieszkania /></label>
        </div>

        <label>Zawartość paczki <textarea type="text" name="paczka.Zawartosc" required>@Model.Paczka.Zawartosc</textarea></label>
        <input type="submit" value="Odświez paczkę" />
    </form>
    <a asp-action="Paczka" asp-route-id=@Model.Paczka.Id>Cofnij</a>
</div>
